/* styles for my portal page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(208, 208, 208);
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
}

nav {
    height: 60px;
    line-height: 60px;
    background-color: darkslategray;
}

nav li {
    float: right;
    width: 16.66%;
    /* width is 100% divided by 6 (# of links) */
    text-align: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    width: 63%;
    float: left;
}

aside {
    width: 35%;
    float: right;
}

aside h3 {
    margin-left: 100px;
}

aside a {
    text-decoration: none;
    color: rgb(10, 147, 117);
}

aside ol {
    margin-left: 150px;
    margin-bottom: 15px;
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: lightgray;
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

footer a {
    text-decoration: none;
    color: rgb(10, 147, 117);
}

li {
    margin-bottom: 5px;
    text-decoration: none;
}

img.headshot {
    border-radius: 1000px;
    max-width: 300px;
    float: left;
    margin: 0 20px;
}

img.mamp {
    width: 400px;
    margin-top: 20px;
    margin-left: 350px;
    margin-bottom: 20px;
}

/* Typogrophy */

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 40px;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: darkslategray;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 15px;
}

h3 {
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 10px;
}

h2.subheader {
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(96, 95, 95);
    font-weight: 200;
}

main h2 {
    margin-left: 350px;
    text-align: left;
}

main p {
    padding: 10px 30px;
    margin-left: 320px;
    color: rgb(31, 31, 31);
    font-size: 1.05em;
}

