/* Styles for People pages */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(234, 234, 234);
    margin-bottom: 50px;
    padding-top: 5px;
}

#wrapper {
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 50px;

}

main {
    float: left;
    width: 62%;
}

aside {
    width: 35%;
    float: right;
}

aside p {
    margin-top: 10px;
}

aside img {
    display: block;
    margin: 10px auto;
}

img {
    max-width: 100%;
}

figcaption {
    text-align: center;
}

.sock {
    height: 5px;
    width: 100%;
    clear: both;
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: rgb(234, 234, 234);
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

footer a {
    text-decoration: none;
    color: rgb(10, 147, 117);
    clear: both;
}

ul {
    margin-left: 20px;
    margin-bottom: 5px;
}

li {
    margin-bottom: 5px;
    list-style: none;
}

li p {
    margin: 15px 40px 20px 0;
}

a {
    text-decoration: none;
    color: rgb(31, 135, 78);
}

/* Typogrophy */

h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
    font-weight: 200;
}

h2 {
    color: #2f4f4f;
    font-weight: 100;
    margin: 10px 10px;}

h3 {
    font-weight: 100;
    font-size: 1.5em;
    margin: 10px 10px;
}