/* Styles for my website */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inner {
    background-color: white;
}

.home {
    background-color: rgb(208, 208, 208);
}

header {
    background-color: rgb(47, 79, 79);
    /* background-color: gray; */
    overflow: hidden;
    padding: 10px 80px;
    margin: 0px auto;
}

nav ul {
    float: right;
    margin: 20px auto;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

.home a {
    color: mediumseagreen;
}

#logo {
    float: left;
    width: 150px;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    clear: both;
    overflow: auto;
}

#hero {
    margin-bottom: 20px;
    width: 48%;
    float: left;
}

main {
    width: 48%;
    color: rgb(47, 79, 79);
    float: right;
    background-color: transparent;
}

aside {
    width: 35%;
    background-color: cornflowerblue;
    float: right;
}

.sock {
    height: 5px;
    width: 100%;
    clear: both;
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: rgb(234, 234, 234);
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

footer a {
    text-decoration: none;
    color: rgb(10, 147, 117);
    clear: both;
}

img {
    width: 100%;
    object-fit: cover;
}

/* typogrophy */

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.home h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

h2 {
    font-size: 2em;
}

.home h2 {
    text-align: center;
    margin-bottom: 30px;
}

.home p {
    font-size: 1.2em;
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3, p {
    margin-bottom: 10px;
    font-weight: 100;
    padding: 0 15px;
}

.inner h2 {
    text-align: center;
}

/* About Page */
.about {
    background-color: rgb(208, 208, 208);
    margin-bottom: 50px;
    padding: 10px;
}

.about img {
    margin: 5px auto;
    display: block;
}

.about h2 {
    text-align: center;
    margin: 5px auto 20px auto;
}

/* Contact Page */

.contact {
    background-color: rgb(208, 208, 208);
    margin-bottom: 50px;
}

/* Daily Page */

.daily #wrapper {
    width: 500px;
    margin: 20px auto;
    margin-bottom: 60px;
}

.daily #wrapper a:hover {
    color: black;
}

.daily h1, h2, h3, p {
    text-align: center;
    font-weight: 100;
}

.daily h3 {
    margin-top: 30px;
}

.daily #wrapper li {
    padding: 5px;
    text-align: center;
    list-style-type: none;
}

.daily #wrapper img {
    width: 500px;
    margin-top: 30px;
}

/* Gallery CSS */

.gallery {
    background-color: black;
    margin-bottom: 50px;
}

.gallery footer {
    background-color: black;
    color: rgb(47, 79, 79);
}

.gallery h2 {
    color: whitesmoke;
    font-size: 3em;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    margin: 30px auto;
}

.gallery td {
    font-size: 1.2em;
    padding: 1px;
    width: 300px;
    height: 300px;
    /* border: 1px solid white; */
    text-align: center;
    color: rgb(73, 129, 129);
}

.gallery table{
    margin: 5px auto;
}

.gallery td img {
    object-fit: cover;
    height: 300px;
}

/* Film Page */

.film {
    margin-bottom: 50px;
}

.film main {
    width: 50%;
    color: rgb(47, 79, 79);
    float: right;
    background-color: transparent;
}

.film aside {
    width: 45%;
    float: right;
    margin-right: 20px;
    background-color: transparent;
}

.film h1{
    text-align: center;
    font-size: 3em;
    margin: 20px auto 40px auto;
    color: black;
}

.film h2 {
    color: rgb(39, 70, 70);
    text-align: left;
}

.film main li {
    list-style: none;
    margin: 5px 0 5px 30px;
    color: black;
}

.film main li a {
    text-decoration: none;
    color: #3cb371;
}

.film main li p {
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

/* Film detail page */

.film-details {
    margin-bottom: 50px;
    background-color: black;
}

.film-details #wrapper {
    max-width: 1300px;
}

.film-details main {
    width: 50%;
    color: rgb(47, 79, 79);
    float: right;
    background-color: transparent;
    padding-top: 40px;
}

.film-details aside {
    width: 48%;
    float: right;
    background-color: transparent;
    text-align: start;
}

.film-details figcaption {
    text-align: center;
}

.film-details h1{
    text-align: center;
    font-size: 3em;
    margin: 20px auto 10px auto;
    color: white;
}

.film-details h2 {
    color: rgb(180, 239, 239);
    text-align: left;
}

.film-details main li {
    list-style: none;
    margin: 5px 0 5px 30px;
    color: rgb(103, 190, 190);
}

.film-details main a {
    text-decoration: none;
    color: #3cb371;
}

.film-details main li p {
    text-align: left;
    color: rgb(103, 190, 190);
    padding: 0;
    margin: 5px auto 10px auto;
}

.film-details footer {
    background-color: black;
    color: rgb(47, 79, 79);
}