/* Styles for my website */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inner {
    background-color: white;
}

.home {
    background-color: rgb(164, 164, 164);
}

header {
    background-color: rgb(21, 55, 3);
    /* background-color: gray; */
    overflow: hidden;
    padding: 0px 80px;
    margin: 0px auto;
}

nav ul {
    float: right;
    margin-top: 55px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

.home a {
    color: mediumseagreen;
}

#logo {
    float: left;
    width: 150px;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    clear: both;
}

#hero {
    margin-bottom: 20px;
    width: 48%;
    float: left;
}

main {
    width: 48%;
    color: white;
    float: right;
}

aside {
    width: 35%;
    background-color: cornflowerblue;
    float: right;
}

footer {
    height: 60px;
    line-height: 60px;
    background-color: lightgray;
    clear: both;
    border-top: 1px black;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;
}

footer a {
    color: mediumseagreen;
}

img {
    width: 100%;
    object-fit: cover;
}

/* typogrophy */

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.home h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

h2 {
    font-size: 2em;
}

.home h2 {
    text-align: center;
    margin-bottom: 30px;
}

.home p {
    font-size: 1.2em;
    color: rgb(21, 55, 3);
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3, p {
    margin-bottom: 10px;
    font-weight: 100;
    padding: 0 15px;
}

.inner h2 {
    text-align: center;
}

/* Daily Page */

.daily #wrapper {
    width: 500px;
    margin: 20px auto;
}


.daily #wrapper a:hover {
    color: black;
}

.daily h1, h2, h3, p {
    text-align: center;
    font-weight: 100;
}

.daily h3 {
    margin-top: 30px;
}

.daily #wrapper li {
    padding: 5px;
    text-align: center;
    list-style-type: none;
}

.daily #wrapper img {
    width: 500px;
    margin-top: 30px;
}

/* Gallery CSS */

.gallery {
    background-color: black;
}

.gallery h2 {
    color: whitesmoke;
    font-size: 3em;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    margin: 30px auto;
}

.gallery td {
    font-size: 1.2em;
    padding: 1px;
    width: 300px;
    height: 300px;
    /* border: 1px solid white; */
    text-align: center;
    color: rgb(210, 180, 11);
}

.gallery table{
    margin: 5px auto;
}

.gallery td img {
    object-fit: cover;
    height: 300px;
}
